<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Koma-UI</title>
	<style>
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		:root {
			--button-height: 32px;
			--font-size: 14px;
			--button-bg: white;
			--button-active-bg: #eee;
			--border-radius: 4px;
			--color: #333;
			--border-color: #999;
			--border-color-hover: #666;
		}

		#app {
			margin: 20px;
			padding: 100px;
		}
		.sider {
			width: 100px;
			background-color: #333;
		}
		.header, .footer {
			height: 50px;
			background-color: #eee;
		}
	</style>
</head>

<body>
	<div id="app">
		<div @click="yyy" class="wrapper" style="border: 1px solid red; padding: 20px; overflow: hidden;">
			<g-popover position="bottom" trigger="hover">
				<template #content>
					<div>adsadasdadsadasdasadsadasdasadsadasdasadsadasdasadsadasdasadsadasdasadsadasdasadsadasdasadsadasdasadsadasdasadsadasdasadsadasdasas</div>
				</template>
				<g-button>点我</g-button>
			</g-popover>
			<g-popover position="top">
				<template #content="{close}">
					<div>内容</div>
					<g-button @click="close">关闭</g-button>
				</template>
				<g-button>点我</g-button>
			</g-popover>
			<g-popover position="left">
				<template #content>
					<div>内容</div>
				</template>
				<g-button>点我</g-button>
			</g-popover>
			<g-popover position="right">
				<template #content>
					<div>内容</div>
				</template>
				<g-button>点我</g-button>
			</g-popover>
		</div>
		<template v-if="false">
			<!-- tabs -->
			<g-tabs :selected.sync="selectedTab" @update:selected="yyy">
				<g-tabs-head>
					<template slot="actions">
						<button>设置</button>
					</template>
					<g-tabs-item name="finance">
						<g-icon name="shezhi"></g-icon>财经
					</g-tabs-item>
					<g-tabs-item name="sport" disabled>体育</g-tabs-item>
					<g-tabs-item name="women">美女</g-tabs-item>
				</g-tabs-head>
				<g-tabs-body>
					<g-tabs-pane name="finance">财经相关资讯</g-tabs-pane>
					<g-tabs-pane name="sport">体育相关资讯</g-tabs-pane>
					<g-tabs-pane name="women">美女相关资讯</g-tabs-pane>
				</g-tabs-body>
			</g-tabs>
			<!-- filter -->
			<g-filter title="标题"></g-filter>
			<!-- toast -->
			<button @click="showToast1">top</button>
			<button @click="showToast2">middle</button>
			<button @click="showToast3">bottom</button>
			<!-- grid -->
			<g-layout style="margin-bottom: 10px; height: 100vh;">
				<g-sider>sider</g-sider>
				<g-layout>
					<g-header>header</g-header>
					<g-content>content</g-content>
					<g-footer>footer</g-footer>
				</g-layout>
			</g-layout>
			<!-- row & col -->
			<div style="border: 1px solid black;">
				<g-row gutter="10" align="center">
					<g-col span="2">1</g-col>
					<g-col span="2">2</g-col>
					<g-col span="2">3</g-col>
				</g-row>
				<g-row>
					<g-col span="2" 
					:ipad="{span: 10, offset: 2}"
					:pc="{span: 6}">1
					</g-col>
					<g-col span="22" 
					:ipad="{span: 12}"
					:pc="{span: 18}"
					>2</g-col>
				</g-row>
				<g-row>
					<g-col span="2" offset="4">1</g-col>
					<g-col span="15" offset="3">2</g-col>
				</g-row>
				<g-row>
					<g-col span="6">1</g-col>
					<g-col span="18">2</g-col>
				</g-row>
			</div>
			<!-- input -->
			<div style="margin-bottom: 10px">
				<!-- <g-input value="哈哈" error="该字段不合法"></g-input> -->
				<g-input v-model="message" @change="inputChange"></g-input>
				<span>{{message}}</span>
				<button @click="message += 1">+1</button>
			</div>1
			<!-- button -->
			<g-button @click="loading2 = !loading2" icon="download" icon-position="right" :loading="loading2">加载</g-button>
			<g-button @click="loading1 = !loading1" :loading="loading1" icon="download">设置</g-button>
			<g-button @click="loading1 = !loading1" :loading="loading1">点击</g-button>
			<g-button-group>
				<g-button icon="left">后退</g-button>
				<g-button>更多</g-button>
				<g-button icon="right" icon-position="right">前进</g-button>
			</g-button-group>
		</template>

		<div id="test" style="margin-top: 20px;">
			
		</div>
	</div>
	<script src="./src/app.js"></script>
	<!-- <script src="//at.alicdn.com/t/font_1122871_u2mcngzlv2.js"></script> -->
</body>

</html>